*{
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
}

body{
    background-image: linear-gradient(90deg, rgb(41, 41, 49),rgb(245, 245, 245));
}
.navbar{
    width: auto;
    margin: auto;
    padding: 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        li{
            list-style: none;
            margin: 0 15px;
            padding: 10px;
            background-color: map-get($map: $navbar , $key:bg-navbar );
            border: map-get($map: $navbar, $key:bordes );
            font-size: 35px;
            border-radius: 50px;
            width:auto;
            a{
                text-decoration: map-get($map: $navbar, $key:decoration);
                color: white;
                font-family:'Lobster', cursive;
            }
        }
    }
}

.contenedor{
    border: 7px inset #b50606;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200%;
    background-color: #FFEA95;
    background-image: linear-gradient(43deg, $bg-principal, $bg-secundario, $bg-terciario);

}

.logo{
    height:100px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}