footer{
    background-color: #ffd84a;
    border: 6px inset #af9414;
    font-family:'Lobster', cursive;
    font-size: 20px;
    @extend %disposicion_02;
    padding-top: 60px;
    padding-bottom: 40px;
    justify-content: center;
}