header{
    nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            li{
                a{
                    
                }
            }
        }
    }
}