h1{
    color: #000000;
    font-size: 100px;
    margin: 5px;
    padding: 5px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
}


.content{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.card-img-top{
    width: 633px;
    height:356px;

}