.texto02{
    h1{
        color: #e6e6e6; 
        text-align: center;
        font-size: nth($font-size, 4 );
        background-color: #FFEA95;
        background-image: linear-gradient(45deg, rgb(43, 43, 46),rgb(11, 97, 246));
        border: 7px inset #fbfbfb;
        font-family: 'Lobster', cursive;
        padding: 15px;
        margin: auto;
    }
} 


.img_mang{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
        img{
            margin: 8px;
            width: 250px;
            height: 350px;
        }
    }
}


.mg{
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
}


.estilo_mng{
    .card-body{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 30px;
        padding: 30px;
        color: #dc3545;
        h5{
            font-size: 50px;
        }
    }
}


.estilo_mng{
    p{
        font-size: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}


.estilo_mng{
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin: 15px;
    }
}


.estilo_mng{
    .col-md-10{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.btn-outline-danger {
    color: #ffffff;
    border-color: #000000;
    background-color: #df3d3d;
}

.manga_s{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.manga_s{
    img{
        margin: 8px;
        width: 350px;
        height: 480px;
        box-shadow: 10px 10px 25px black;
    }
}

.full-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.cont{
    .previous{
        border: 2px inset rgb(0, 0, 0);
        display: flex;
        justify-content: initial;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        background-color: #8d8d8d;
        font-size: 24px;
        width: 210px;
        float: left;
        margin-left: 20px;
        margin: 15px;

    }
}

.cont{
    a{
        text-decoration: none;
    }
}

.cont{
    .next{
        border: 2px inset rgb(0, 0, 0);
        display: flex;
        justify-content: flex-end;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        background-color: #8d8d8d;
        font-size: 24px;
        width: 210px;
        float: right;
        margin-right: 20px;
        margin: 15px;
    }
}