.texto02{
    h1{
        color: #e6e6e6; 
        text-align: center;
        font-size: nth($font-size, 4 );
        background-color: #FFEA95;
        background-image: linear-gradient(45deg, rgb(43, 43, 46),rgb(11, 97, 246));
        border: 7px inset #fbfbfb;
        font-family: 'Lobster', cursive;
        padding: 15px;
        margin: auto;
    }
} 

.img_mang{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
        img{
            margin: 8px;
            width: 250px;
            height: 350px;
        }
    }
}

.mg{
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
}