@media screen and (max-width: 576px){
    /*+++++++++++++++inicio++++++++++++++++*/
    .navbar{
        flex-direction: column;
    }
    
    nav{
        ul{
            gap: 5px;
            a{
                font-size: 35px;
            }
        }
    }

    .card-group{
        display: grid;
        flex-flow: row wrap;
    }
    
    .card-img-top {
        width: auto;
        height: auto;
    }

    .card-body {
        text-align: center;
        h5{
            font-size: 3.25rem;
            p{
                font-size: 25px;
            }
        }
    }

    .row>*{
        display: flex;
        justify-content: center;
    }


    .nav_02{
        display:block;
    }

    .contenedor{
        display: none;

    }

    
    /*++++++++++++++++++anime-manga+++++++++++++++++*/
    .capitulos{
        ul{
            li{
                display: flex;
            }
        }
    }

    .anim01{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .pres{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .carousel-item{
        img{
            height: 500px;
            width: auto;
        }
    }
    .texto02{
        h1{
            font-size: 65px;
        }
    }
    .sagas{
        h2{
            font-size: 65px;
        }
    }
    .pagination{
        flex-direction: row;
    }

    .bar{
        nav{
            justify-content: center;
        }
    }


    .img-fluid{
        height: 400px;
    }

    .contenedor001{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }

    .estilo_mng{
        .img-fluid {
            margin: 0;
        }
    }

    .estilo_mng{
        .card-body{
            grid-template-columns: none;
            margin: 5px;
            padding: 5px;
        }
    }


    /*++++++++++++++++++peliculas++++++++++++++*/
    .article01{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafo01{
        p{
            width: auto;
        }
    }
    
    .movies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-fluid {
        height: 400px;
        width: auto;
    }

    /*++++++++++++++++++++personajes++++++++++++++++*/
    .order2 {
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                height: auto;
                font-size: 30px;
            }
        }
    }

    .img_pers{
        grid-template-columns: 1fr 1fr;
    }

    nav{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .nav_02{
    
        width: auto;
        margin: auto;
        justify-content: space-between;
        ul{
            li{
                margin: 0 105px;
                padding: 20px;
                font-size: 45px;
                width:auto;
                a{
                    text-decoration: map-get($map: $navbar, $key:decoration);
                    color: white;
                    font-family:'Lobster', cursive;
                }
            }
        }
    }
    .img_ps{
        display: none;
    }

    .photo_01{
        display: flex;
        justify-content: center;
        visibility: visible;
    }



    /*pie de pagina*/
    footer{
        flex-direction: row;
        align-items: center;
    }

}