@media screen and (max-width: 576px){
    /*+++++++++++++++inicio++++++++++++++++*/
    .navbar{
        flex-direction: colmn;
    }
    
    nav{
        ul{
            gap: 5px;
        }
    }

    .card-group{
        display: grid;
        flex-flow: row wrap;
    }
    
    /*++++++++++++++++++anime-manga+++++++++++++++++*/
    .capitulos{
        ul{
            li{
                display: flex;
            }
        }
    }

    .anim01{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .pres{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .carousel-item{
        img{
            height: 500px;
            width: auto;
        }
    }
    .texto02{
        h1{
            font-size: 65px;
        }
    }
    .sagas{
        h2{
            font-size: 65px;
        }
    }
    .pagination{
        flex-direction: row;
    }
    .card-body{
        h5{
            font-size: 4.25rem;
        }
    }
    .card-body{
        p{
            font-size: 30px;
        }
    }

    .img-fluid{
        height: 400px;
    }

    /*++++++++++++++++++peliculas++++++++++++++*/
    .article01{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafo01{
        p{
            width: auto;
        }
    }
    
    .movies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*++++++++++++++++++++personajes++++++++++++++++*/
    .order2 {
        h2{
            display: flex;
            justify-content: center;
        }
    }

    .order2{
        p{
            height: auto;
            font-size: 20px;
        }
    }

    .img_pers{
        grid-template-columns: 1fr 1fr;
    }

    nav{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    nav{
        ul{
            a{
                display: flex;
                flex-direction: column;
            }
        }
    }    

    .img_ps{
        display: none;
    }

    .photo_01{
        display: flex;
        justify-content: center;
        visibility: visible;
    }



    /*pie de pagina*/
    footer{
        flex-direction: row;
        align-items: center;
    }

}