footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #000000;
  font-size: 100px;
  margin: 5px;
  padding: 5px;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
}

.content {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.carousel-inner {
  border: 4px solid rgb(9, 9, 9);
  border-radius: 40px;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 35px;
  padding-bottom: 15;
  padding: 15;
  margin: 25px;
}

.card-img-top {
  border-top-right-radius: 0;
  width: auto;
  height: 356px;
}

.card-group > .card:not(:first-child) .card-img-top {
  border-top-left-radius: 0;
  width: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(180deg, #2480cf, #ffffff, #ff2b2b);
  width: auto;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav_02 {
  display: none;
}

.navbar {
  width: auto;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}
.navbar nav {
  display: flex;
  align-items: center;
}
.navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navbar nav ul li {
  list-style: none;
  margin: 0 15px;
  padding: 10px;
  background-color: #fa3f3f;
  border: 4px solid #b50606;
  font-size: 45px;
  border-radius: 50px;
  width: auto;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lobster", cursive;
}

.nv-bg {
  background-image: linear-gradient(90deg, #bceff7, #00a5f7, #f02d0a);
}

.p-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 10px inset white;
}

.bg-dark {
  background-image: linear-gradient(90deg, #bceff7, #00a5f7, #f02d0a);
  border: 10px inset white;
}

.navbar-dark .navbar-toggler {
  border-color: rgb(0, 0, 0);
  color: rgba(91, 179, 255, 0.64);
  border: 10px inset white;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

.contenedor {
  border: 7px inset #b50606;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200%;
  background-color: #FFEA95;
  background-image: linear-gradient(43deg, #bceff7, #00a5f7, #f02d0a);
}

.logo {
  height: 110px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.texto02 h1 {
  color: #e6e6e6;
  text-align: center;
  font-size: 90px;
  background-color: #FFEA95;
  background-image: linear-gradient(45deg, rgb(43, 43, 46), rgb(11, 97, 246));
  border: 7px inset #fbfbfb;
  font-family: "Lobster", cursive;
  padding: 15px;
  margin: auto;
}

.sagas h2 {
  color: #e6e6e6;
  text-align: center;
  font-size: 90px;
  background-color: #FFEA95;
  background-image: linear-gradient(45deg, rgb(43, 43, 46), rgb(11, 97, 246));
  border: 7px inset #fbfbfb;
  font-family: "Lobster", cursive;
  padding: 15px;
  margin: auto;
}

.col-md-4 img {
  width: 200px;
  height: 200px;
}

/*+++++++++imagenes de saga - carousel+++++++++*/
.conteiner .row {
  --bs-gutter-x: -0.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.carousel-item img {
  height: 900px;
  width: auto;
}

.carousel-inner {
  border: 4px solid rgb(9, 9, 9);
  border-radius: 40px;
}

.carousel-caption {
  background: radial-gradient(black, rgba(0, 0, 0, 0.5019607843));
  border: 4px solid rgb(9, 9, 9);
  border-radius: 40px;
}
.carousel-caption p {
  font-size: 22px;
}
.carousel-caption p h5 {
  font-size: 50px;
}

.carousel-caption h5 {
  font-size: 45px;
}

.card-body p {
  font-size: 22px;
}

.card-body h5 {
  font-size: 30px;
}

.carousel {
  position: relative;
  margin: 20px;
}

.pgna {
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  color: #d10d0d;
  text-decoration: none;
  background-color: #e9e9e9;
  border: 1px solid #000000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link {
  padding: 0.375rem 1.75rem;
}

.card {
  background-color: #e9e9e9;
}

.none .card {
  margin: 20px;
}

.contenedor001 {
  display: flex;
  margin: 15px;
}

.bar nav {
  justify-content: center;
}

.page-link:hover {
  z-index: 2;
  color: #d70808;
  background-color: #000000;
  border-color: #f31818;
}

.img-fluid {
  max-width: 100%;
  height: 232.61px;
  width: 310.16px;
}

.full-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reader-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 10px;
}

.reader-nav a {
  color: #c91c1c;
  border: 1px solid #e20f0f;
  font-size: 30px;
  text-decoration: none;
  border-radius: 20px;
  padding: 4px;
  background-color: rgb(0, 0, 0);
  font-family: "Lobster", cursive;
}

.texto02 h1 {
  color: #e6e6e6;
  text-align: center;
  font-size: 90px;
  background-color: #FFEA95;
  background-image: linear-gradient(45deg, rgb(43, 43, 46), rgb(11, 97, 246));
  border: 7px inset #fbfbfb;
  font-family: "Lobster", cursive;
  padding: 15px;
  margin: auto;
}

.img_mang {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img_mang a img {
  margin: 8px;
  width: 250px;
  height: 350px;
}

.mg {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

.estilo_mng .card-body {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
  padding: 30px;
  color: #dc3545;
}
.estilo_mng .card-body h5 {
  font-size: 50px;
}

.estilo_mng p {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.estilo_mng .img-fluid {
  max-width: 100%;
  height: auto;
  margin: 15px;
}

.estilo_mng .col-md-10 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-danger {
  color: #ffffff;
  border-color: #000000;
  background-color: #df3d3d;
}

.manga_s {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.manga_s img {
  margin: 8px;
  width: 350px;
  height: 480px;
  box-shadow: 10px 10px 25px black;
}

.full-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  padding: 30px;
}

.cont .previous {
  border: 2px inset rgb(0, 0, 0);
  display: flex;
  justify-content: initial;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: #8d8d8d;
  font-size: 24px;
  width: 210px;
  float: left;
  margin-left: 20px;
  margin: 15px;
}

.cont a {
  text-decoration: none;
}

.cont .next {
  border: 2px inset rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: #8d8d8d;
  font-size: 24px;
  width: 210px;
  float: right;
  margin-right: 20px;
  margin: 15px;
}

.order h1 {
  color: #FFEA95;
  font-family: "Lobster", cursive;
  font-size: 90px;
  background-image: linear-gradient(#FFEA95, rgb(59, 203, 187));
  border: 7px inset rgb(80, 165, 34);
  text-align: center;
  margin: auto;
  padding: auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 10px;
  padding: 10px;
}

.contenedor_peliculas {
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000000;
  padding: 15px;
  background-color: #959595;
}
.contenedor_peliculas a {
  color: #000000;
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Lobster", cursive;
}

.contenedor_peliculas img {
  width: 360px;
  height: 460px;
}

.contenedor_peliculas h2 {
  font-size: 13px;
  text-decoration: none;
}

.img02 {
  transition: all 2s;
}

.box02:hover {
  transform: scale(1.4);
}

.title {
  color: #ebeae8;
  font-family: "Lobster", cursive;
  font-size: 90px;
  justify-content: center;
  display: flex;
  background-color: #fc5151;
  background-image: linear-gradient(#FFEA95, rgb(59, 203, 187)), url("../imagenes/Brook.png");
  border: 7px inset rgb(80, 165, 34);
}

.order2 p {
  height: auto;
  font-size: 30px;
  font-family: "Lobster", cursive;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: #cfbba0;
  border-radius: 20px;
}

.order2 h2 {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-family: "Lobster", cursive;
  font-size: 90px;
  justify-content: center;
  display: flex;
}

.order2 h3 {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  background-color: #FFEA95;
  border: 7px inset gold;
}

.order2 h4 {
  color: firebrick;
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
}

.order2 img {
  width: 390px;
  height: 570px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 25px black;
}

.number01 h2 {
  background-image: linear-gradient(23deg, rgba(0, 0, 0, 0.8392156863), rgb(213, 38, 22));
  border: 7px inset rgb(182, 12, 12);
}

.number02 h2 {
  background-image: linear-gradient(23deg, #0f0f0f, rgb(5, 183, 11));
  border: 7px inset rgb(80, 165, 34);
}

.number03 h2 {
  background-image: linear-gradient(23deg, #010e35, rgb(0, 32, 175));
  border: 7px inset rgb(0, 19, 123);
}

.number04 h2 {
  background-image: linear-gradient(23deg, #431a00, rgb(234, 109, 0));
  border: 7px inset rgb(214, 101, 2);
}

.number05 h2 {
  background-image: linear-gradient(23deg, #431a00, rgb(110, 73, 9));
  border: 7px inset rgb(61, 30, 2);
}

.number06 h2 {
  background-image: linear-gradient(23deg, #140912, rgb(213, 9, 141));
  border: 7px inset rgb(101, 1, 81);
}

.number07 h2 {
  background-image: linear-gradient(23deg, #2a052d, rgb(135, 8, 140));
  border: 7px inset rgb(36, 0, 32);
}

.number08 h2 {
  background-image: linear-gradient(23deg, #000608, rgb(8, 251, 255));
  border: 7px inset rgb(7, 180, 219);
}

.number09 h2 {
  background-image: linear-gradient(23deg, #0a0a0a, rgb(7, 244, 90));
  border: 7px inset rgb(15, 127, 60);
}

.img_ps {
  display: flex;
  justify-content: space-around;
}

.photo_01 {
  display: none;
}

/*++++++++++iconos++++++++*/
.img_pers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 30px;
  padding: 25px;
  justify-items: center;
}
.img_pers img {
  height: 200px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 100px;
  box-shadow: 10px 10px 25px black;
  cursor: pointer;
}

.img01 {
  transition: all 2s;
}

.box01:hover {
  transform: scale(1.4);
}

footer {
  background-color: #ffd84a;
  border: 6px inset #af9414;
  font-family: "Lobster", cursive;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  /*+++++++++++++++inicio++++++++++++++++*/
  .navbar {
    flex-direction: column;
  }
  nav ul {
    gap: 5px;
  }
  nav ul a {
    font-size: 35px;
  }
  .card-group {
    display: grid;
    flex-flow: row wrap;
  }
  .card-img-top {
    width: auto;
    height: auto;
  }
  .card-body {
    text-align: center;
  }
  .card-body h5 {
    font-size: 3.25rem;
  }
  .card-body h5 p {
    font-size: 25px;
  }
  .row > * {
    display: flex;
    justify-content: center;
  }
  .nav_02 {
    display: block;
  }
  .contenedor {
    display: none;
  }
  /*++++++++++++++++++anime-manga+++++++++++++++++*/
  .capitulos ul li {
    display: flex;
  }
  .anim01 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .pres {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .carousel-item img {
    height: 500px;
    width: auto;
  }
  .texto02 h1 {
    font-size: 65px;
  }
  .sagas h2 {
    font-size: 65px;
  }
  .pagination {
    flex-direction: row;
  }
  .bar nav {
    justify-content: center;
  }
  .img-fluid {
    height: 400px;
  }
  .contenedor001 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  .estilo_mng .img-fluid {
    margin: 0;
  }
  .estilo_mng .card-body {
    grid-template-columns: none;
    margin: 5px;
    padding: 5px;
  }
  /*++++++++++++++++++peliculas++++++++++++++*/
  .article01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parrafo01 p {
    width: auto;
  }
  .movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-fluid {
    height: 400px;
    width: auto;
  }
  /*++++++++++++++++++++personajes++++++++++++++++*/
  .order2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .order2 h2 p {
    height: auto;
    font-size: 30px;
  }
  .img_pers {
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul a {
    display: flex;
    flex-direction: column;
  }
  .nav_02 {
    width: auto;
    margin: auto;
    justify-content: space-between;
  }
  .nav_02 ul li {
    margin: 0 105px;
    padding: 20px;
    font-size: 45px;
    width: auto;
  }
  .nav_02 ul li a {
    text-decoration: none;
    color: white;
    font-family: "Lobster", cursive;
  }
  .img_ps {
    display: none;
  }
  .photo_01 {
    display: flex;
    justify-content: center;
    visibility: visible;
  }
  /*pie de pagina*/
  footer {
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
